[submodule "wildforge-api"]
	path = wildforge-api
	url = git@github.com:slaee/wildforge-api.git
	branch = main
[submodule "wildforge-app"]
	path = wildforge-app
	url = git@github.com:slaee/wildforge-app.git
	branch = main
